services:
  backend:
    build:
      context: ./backend
    ports:
      - "8030:8000"
    volumes:
      - ./backend:/app
    environment:
      - PYTHONUNBUFFERED=1

  frontend:
    build:
      context: ./frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules  # évite les conflits entre hôte et conteneur
    command: npm run dev
    # command: npm run start #pourinitialiser le projet
