fastapi
uvicorn
pydantic
openai
python-dotenv
yt-dlp
git+https://github.com/openai/whisper.git
youtube-transcript-api
dotenv
sqlmodel
mysql-connector-python
alembic
fastapi-users[sqlalchemy]
sqlalchemy[asyncio]
aiomysql
pytube