fastapi
uvicorn
pydantic
httpx
#openai
python-dotenv
#yt-dlp
# git+https://github.com/openai/whisper.git
#faster-whisper
#youtube-transcript-api
dotenv
sqlmodel
mysql-connector-python
alembic
fastapi-users[sqlalchemy]
sqlalchemy[asyncio]
aiomysql
#pytube