fastapi
uvicorn # Recommandé si vous utilisez FastAPI
pydantic
openai
python-dotenv # Si vous utilisez os.environ avec un fichier .env
yt-dlp
# whisper
youtube-transcript-api
dotenv
sqlmodel
mysql-connector-python
alembic
fastapi-users[sqlmodel]
aiomysql